In [1]:
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd
import requests
import json
import numpy as np
from pandas import DataFrame

In [4]:
url = "http://data.nba.net/10s/prod/v1/2013/players.json"
response  = requests.get(url)
data = response.json()
data_playerinfo = data['league']['standard']
df = DataFrame(data_playerinfo)
df.head()

,collegeName,country,dateOfBirthUTC,draft,firstName,heightFeet,heightInches,heightMeters,jersey,lastName,nbaDebutYear,personId,pos,teamId,teams,weightKilograms,weightPounds,yearsPro
0,,,,"{'teamId': '', 'pickNum': '', 'roundNum': '', ...",Quincy,,,,5,Acy,,203112,F,1610612758,"[{'teamId': '1610612761', 'seasonStart': '2012...",,,
1,,,,"{'teamId': '', 'pickNum': '', 'roundNum': '', ...",Steven,,,,12,Adams,,203500,C,1610612760,"[{'teamId': '1610612760', 'seasonStart': '2013...",,,
2,Connecticut,USA,1986-02-10,"{'teamId': '', 'pickNum': '', 'roundNum': '', ...",Jeff,6-7,79,2.01,12,Adrien,2010,202399,F,1610612749,"[{'teamId': '1610612744', 'seasonStart': '2010...",111.1,245,3
3,,,,"{'teamId': '', 'pickNum': '', 'roundNum': '', ...",Arron,,,,4,Afflalo,,201167,G-F,1610612753,"[{'teamId': '1610612765', 'seasonStart': '2007...",,,
4,,,,"{'teamId': '', 'pickNum': '', 'roundNum': '', ...",Alexis,,,,42,Ajinca,,201582,C,1610612740,"[{'teamId': '1610612766', 'seasonStart': '2008...",,,

In [ ]:
df["heightMeters"].me

In [3]:
df["heightMeters"] = pd.to_numeric(df["heightMeters"], errors = "coerce")
df.dropna(subset=["pos"])
height_group = df.groupby("pos")
count_height_group  = height_group["heightMeters"].mean()
count_height_group

pos
C      2.123333
C-F    2.100000
F      2.059615
F-C    2.082500
F-G    1.980000
G      1.909259
G-F    1.982857
Name: heightMeters, dtype: float64

In [4]:
df["heightMeters"].mean()

2.0129629629629635